<ion-content [fullscreen]="true" scroll-y="false">
  <div class="header">
    <p class="title">AI Assistant</p>
  </div>

  <div class="aiChatContainer">
    <div class="messageContainer">
      <ng-container *ngIf="GPTMessages$ | async as vectorMessages">
        <ng-container *ngFor="let message of vectorMessages">
          <div *ngIf="message.human" class="messageBubble humanMessage">
            <p class="messageText">{{ message.human }}</p>
          </div>
          <div *ngIf="message.ai" class="messageBubble aiMessage">
            <p class="messageText">{{ message.ai }}</p>
          </div>
          <div *ngIf="!message.ai && isLoadingAIMessage" class="messageBubble aiMessage">
            <ion-spinner class="spinner" name="crescent"></ion-spinner>
          </div>
        </ng-container>
      </ng-container>
    </div>
    

    <div class="textAreaContainer">
        <div class="quickSelections">
            <ion-icon id="quickSelect" name="add-circle-outline"></ion-icon>
            <ion-popover trigger="quickSelect" side="top" alignment="center">
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-list>
                      <ion-item class="quickSelectItem" (click)="selector(question)" *ngFor="let question of quickSelect">
                        {{ question }}
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
        </div>

        <span style="width: 100%;">
            <input placeholder="Ask Question..." class="textarea" id="float-input" rows="5" cols="30" [(ngModel)]="userMessage"/>
        </span>
        <img (click)="sendGPTMessage()" class="sendButton" src="assets/send.svg"/>

    </div>
  </div>
</ion-content>
